// colors
$nav-bg-color: #2978a0;
$nav-font-color: aliceblue;

// mixins
@mixin flex-spacebt-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-nav-holder{
    width: 100%;
    background-color: $nav-bg-color;
    color: $nav-font-color;
}

.bottom-nav-container{
    width: 1500px;
    margin: 0 auto;
    font-size: 1.05em;
    @include flex-spacebt-center;
    
    @media only screen and (max-width: 1600px){
        width: 1200px;
    }

    @media only screen and (max-width: 1300px){
        width: 1000px;
    }

    @media only screen and (max-width: 1100px){
        width: 500px;
    }

    @media only screen and (max-width: 1000px){
        width: 400px;
    }
        
    ul{
        display: flex;

        li{
            padding: 10px;
            transition: all 0.5s linear;

            &:hover{
                background-color: #1b5775;
            }

        }
    }
    

    .nav-link{
        color: #e2e2e2;
        &:hover{
            color: #f3f3f3;
        }
    }
}