.detail-holder{
    width: 100%;
    height: 752px;

    .top-bg{
        width: 100%;
        height: 200px;
        background-image: url("https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f4e8e2d968e510f26de396e%2F0x0.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    

    .middle-bg{
        width: 100%;
        height: 450px;
    }

    .user-avatar{
        width: 200px;
        height: 200px;
        border: 1px solid none;
        border-radius: 50%;
        position: absolute;
        top: 170px;
        left: 220px;
        font-size: 140px;
        text-align: center;
        color: #f3f3f3;
        background-color: orange;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

    }

    .user-name{
        font-size: 3em;
        position: absolute;
        top: 180px;
        right: 200px;
        color: #f3f3f3;
        font-weight: 400;

        @media only screen and (max-width: 1000px){
            font-size: 2em;
            top: 100px;
        }
    }

    .user-details-card{
        width: 1000px;
        height: 300px;
        position: absolute;
        top: 350px;
        right: 200px;
        border: 1px solid none;
        border-radius: 15px;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        background-color: #f3f3f3;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        @media only screen and (max-width: 1700px){
            width: 55%;
            left: 25%;
        }

        @media only screen and (max-width: 1500px){
            width: 70%;
        }

        @media only screen and (max-width: 900px){
            font-size: 1em;
            width: 90%;
            left: 5%;
        }

        .start-bg{
            width: 220px;
            height: 100%;
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f3f3f3;
            background-color: #12598b;
        }

        .user-info{
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin: 30px;

            .info-header{
                font-size: 1.4em;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .info-holder{
                width: 550px;
                display: flex;
                justify-content: space-between;

                @media only screen and (max-width: 800px){
                    width: 90%;
                }

                .tag-holder{
                    color: rgb(78, 78, 78);
                    
                    .info-tag{
                        font-weight: 500;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                }

                .info-list{
                    color: gray;
                    text-align: end;

                    .info-item{
                        font-weight: 400;
                        font-size: 24px;
                        margin-bottom: 10px;

                    }
                }


            }
        }
    }
}